body {
  min-height: 100vh;
  background-image: $page-bg;
  font-family: $first-f;
  color: $main-color;

  @include font($fz12);

  @include media(desktop) {
    @include font($fz16);
  }
}

//Scroll with header fixed
html {
  scroll-behavior: smooth;
}

#home,
#features,
#gallery,
#fashion-and-beauty,
#how-it-all-started,
#reviews {
  scroll-margin-top: 56px;
  @include media(desktop) {
    scroll-margin-top: 106px;
  }
}

.container {
  max-width: $mobile;
  margin: 0 auto;
  padding: 0 20px;

  @include media(desktop) {
    max-width: $desktop;
    padding: 0 56px;
  }
}

.gradient-title {
  font-family: $second-f;
  color: transparent;
  background: $google-btn-bg;
  background-clip: text;
}

.gradient-subtitle {
  font-family: $second-f;
  color: transparent;
  background: $header-burger-icon;
  background-clip: text;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}
