body {
  min-height: 100vh;
  background-image: $page-bg;
  font-family: $first-f;
  color: $main-color;

  @include font($fz12);

  @include media(desktop) {
    @include font($fz16);
  }
}

.container {
  min-width: $mobile;
  margin: 0 auto;
  padding: 0 20px;

  @include media(desktop) {
    max-width: $desktop;
    padding: 0 56px;
  }
}

.gradient-title {
  font-family: $second-f;
  color: transparent;
  background: linear-gradient(90deg, #4c1c7d 0%, #832192 50%, #4c1c7d 100%);
  background-clip: text;
}

.gradient-subtitle {
  font-family: $second-f;
  color: transparent;
  background: linear-gradient(90deg, #592193 0%, #bb2fd0 50%, #592193 100%);
  background-clip: text;
}
