@use 'sass:math';
@import './breakpoints';

@mixin media($_screen) {
  @if $_screen == mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  } @else if $_screen == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}

@mixin font($size, $weight: $regular, $height: normal, $text-align: center) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  text-align: $text-align;
}

@mixin background($bg, $position, $size: cover) {
  @if str-index($bg, 'url(') {
    background-image: $bg;
  } @else if str-index($bg, 'gradient(') {
    background-image: $bg;
  } @else {
    background-image: url(#{$bg});
  }

  background-position: $position;
  background-size: $size;
  background-repeat: no-repeat;
}

@mixin gradient-text($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@mixin lhcalc($font-size, $line-height) {
  font-size: $font-size;

  @if $line-height == normal or $line-height == 'normal' {
    line-height: 1.2;
  } @else if (type-of($line-height) == 'number') {
    @if (unit($line-height) == 'px') {
      line-height: round(($line-height / $font-size) * 100) / 100;
    } @else {
      line-height: round($line-height * 100) / 100;
    }
  } @else {
    line-height: $line-height;
  }
}

@mixin feature-icon($name, $fileName) {
  .#{$name} {
    @include background(
      '../images/features/mobile/#{$fileName}.png',
      top center,
      20px 16px
    );

    @media screen and (min-resolution: 192dpi) {
      @include background(
        '../images/features/mobile/#{$fileName}@2x.png',
        top center,
        20px 16px
      );
    }

    @include media(desktop) {
      @include background(
        '../images/features/desktop/#{$fileName}.png',
        top center,
        40px 35px
      );

      @media screen and (min-resolution: 192dpi) {
        @include background(
          '../images/features/desktop/#{$fileName}@2x.png',
          top center,
          40px 35px
        );
      }
    }
  }
}
