// Fonts
$first-f: 'Poppins', sans-serif;
$second-f: 'Abril Fatface', sans-serif;

// Font Weights
$regular: 400;
$medium: 500;
$bold: 600;

// Font Sizes
$fz12: 12px;
$fz16: 16px;
$fz20: 20px;
$fz24: 24px;
$fz32: 32px;

// Colors
$main-color: #252525;
$light-color: #3c3c3c;
$violet: #593979;
$light-violet: #e6c3ff;
$pink: #fec0f2;
$header-bg: #ebcfff;
$header-border: linear-gradient(180deg, #f5ecfd 0%, #dbb9f8 100%);
$header-burger-icon: linear-gradient(
  to right,
  #592193 0%,
  #bb2fd0 50%,
  #592193 100%
);

// Colors for gradient text
$g-title: linear-gradient(90deg, #4c1c7d 0%, #832192 50%, #4c1c7d 100%);
$g-subtitle: linear-gradient(90deg, #592193 0%, #bb2fd0 50%, #592193 100%);

// Colors for buttons
$btn-bg: linear-gradient(180deg, #dbb9f8 0%, #cea2f6 100%);
$btn-bg-hover: linear-gradient(180deg, #e7c9fb 0%, #d8a9f9 100%);
$btn-bg-active: linear-gradient(180deg, #bf94ea 0%, #ae80e5 100%);
$google-btn-bg: linear-gradient(90deg, #4c1c7d 0%, #832192 50%, #4c1c7d 100%);
$google-btn-bg-border: linear-gradient(to bottom, #dbb9f8 0%, #cea2f6 100%);
$google-btn-bg-hover: linear-gradient(
  90deg,
  #5d2694 0%,
  #9028a5 50%,
  #5d2694 100%
);
$google-btn-bg-active: linear-gradient(
  90deg,
  #3a1462 0%,
  #6b1b80 50%,
  #3a1462 100%
);

// Paddings
$section-paddings-mob: 24px;
$section-paddings-des: 80px;

$btn-paddings: 10px 20px;

// Common Margins
$mg8: 8px;
$mg12: 12px;
$mg16: 16px;
$mg24: 24px;
$mg20: 20px;
$mg32: 32px;

// Backgrounds
$bg-print-1x: '../images/backgrounds/desktop/01.jpg';
$bg-print-2x: '../images/backgrounds/desktop/01@2x.jpg';
$bg-gradient-1x: '../images/backgrounds/desktop/02.jpg';
$bg-gradient-2x: '../images/backgrounds/desktop/02@2x.jpg';
$bg-wavy-1x: '../images/backgrounds/desktop/03.jpg';
$bg-wavy-2x: '../images/backgrounds/desktop/03@2x.jpg';
$star: '../images/reviews/star.png';

$page-bg: linear-gradient(90deg, #ebd8ff 0%, #fef9ff 50%, #ebd8ff 100%);

//Features map
@use 'sass:map';
$features: (
  f-yellow: crystal-01,
  f-green: crystal-03,
  f-purple: crystal-02,
  f-pink: crystal-05,
  f-blue: crystal-04,
);
