// Fonts
$font-family: 'Poppins', sans-serif;
$second-family: 'Abril Fatface', sans-serif;

$regular: 400;
$medium: 500;
$bold: 600;

$font-size-main-mob: 12px;
$font-size-main-des: 16px;

// Colors
$main-color: #252525;
$light-color: #3c3c3c;
$violet: #593979;
$light-violet: #e6c3ff;
$pink: #fec0f2;
