<div class="overlay">
  <div class="cookies-modal container">
    <div class="">
      <h2 class="cookies-modal-title">Cookies Policy</h2>
      <p class="cookies-text">
        We use cookies to improve your experience on our website. By browsing
        this website, you agree to our use of cookies.
      </p>

      <div class="cookies-btns">
        <button class="js-cookies-btn accept-btn">ACCEPT COOKIES</button>
        <div class="decline-btn-wr">
          <button class="js-cookies-btn decline-btn">DECLINE COOKIES</button>
        </div>
      </div>
    </div>
  </div>
</div>
