<section id="download" class="download container">
  <div class="download__text-wrapper">
    <h2 class="download__text-title">Your Makeover Journey Starts Now!</h2>
    <p class="download__text-desc">
      Join thousands of players & start transforming lives with style!
    </p>
  </div>
  <div class="download__btn-wrapper">
    <a
      href="https://play.google.com/store/apps/details?id=makeover.project.makeup.salon.match.three.tile.puzzle&hl=en&gl=us"
      class="download__btn-download"
      rel="noopener noreferrer"
      target="_blank"
      alt="Google Play Store Download Link"
    >
      <img
        src="/images/btn-google/logo.png"
        srcset="
          /images/btn-google/logo.png    1x,
          /images/btn-google/logo@2x.png 2x
        "
        alt="Play Icon"
        class="download__btn-download-icon"
      />
      <div class="download__btn-download-text-wrapper">
        <img
          src="/images/btn-google/text-2.png"
          srcset="
            /images/btn-google/text-2.png    1x,
            /images/btn-google/text-2@2x.png 2x
          "
          alt="Google Play"
          class="download__btn-download-label"
        />
        <img
          src="/images/btn-google/text-1.png"
          srcset="
            /images/btn-google/text-1.png    1x,
            /images/btn-google/text-1@2x.png 2x
          "
          alt="Google Play Store"
          class="download__btn-download-brand"
        />
      </div>
    </a>
  </div>
</section>
