<section id="fashion-and-beauty">
  <div class="fashion-beauty container">
    <h2 class="fashion-beauty__title">Fashion &amp; Beauty</h2>
    <div class="fashion-beauty__subtitle-wrapper">
      <h3 class="fashion-beauty__subtitle">From Ordinary to Extraordinary!</h3>

      <p class="fashion-beauty__intro">
        Your styling choices bring these characters to life!
      </p>

      <p class="fashion-beauty__description">
        Match tiles, collect beauty tools, and give each character a full
        makeover. From makeup to hairstyles and outfits, every detail matters.
        Whether it’s a wedding glow-up or a red carpet look, you hold the power
        to create perfection!
      </p>
    </div>

    <div class="fashion-beauty__video">
      <picture class="fashion-beauty__video-thumb">
        <source
          media="(min-width: 1200px)"
          srcset="
            /images/fashion-and-beauty/desktop/video.jpg    1x,
            /images/fashion-and-beauty/desktop/video@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 1199px)"
          srcset="
            /images/fashion-and-beauty/mobile/video.jpg    1x,
            /images/fashion-and-beauty/mobile/video@2x.jpg 2x
          "
        />
        <img
          src="/images/fashion-and-beauty/mobile/video.jpg"
          alt="Makeover Magic thumbnail"
          loading="lazy"
        />
      </picture>

      <button class="fashion-beauty__video-play" aria-label="Play video">
        <svg class="fashion-beauty__video-play-icon" aria-hidden="true">
          <use href="/images/sprite.svg#icon-play-btn"></use>
        </svg>
      </button>

      <iframe
        class="fashion-beauty__video-iframe"
        src="https://www.youtube.com/embed/FLmCGn7LrSs?controls=0&amp;modestbranding=1&amp;rel=0&amp;cc_load_policy=0"
        loading="lazy"
        title="Makeover Magic"
        frameborder="0"
        allow="autoplay; encrypted-media; picture-in-picture"
        allowfullscreen
        style="display: none"
      ></iframe>

      <div class="fashion-beauty__video-overlay" hidden></div>
    </div>
  </div>
</section>
