<section id="fashion-and-beauty" class="fashion-beauty container">
  <h4 class="fashion-beauty-title">Fashion &amp; Beauty</h4>
  <div class="fashion-beauty-subtitle-wr">
    <p class="fashion-beauty-subtitle">From Ordinary to Extraordinary!</p>
  </div>
  <!-- Introductory Text -->
  <p class="fashion-beauty-intro">
    Your styling choices bring these characters to life!
  </p>

  <!-- Main Description -->
  <p class="fashion-beauty-description">
    Match tiles, collect beauty tools, and give each character a full makeover.
    From makeup to hairstyles and outfits, every detail matters. Whether it’s a
    wedding glow-up or a red carpet look, you hold the power to create
    perfection!
  </p>

  <!-- Video Embed -->
  <div class="fashion-beauty-video">
    <iframe
      class="fashion-beauty-video-iframe"
      src="https://www.youtube.com/embed/FLmCGn7LrSs?controls=0&modestbranding=1&rel=0"
      loading="lazy"
      title="Makeover Magic"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
</section>
