<section class="features container" id="features">
  <h2 class="gradient-title">Features</h2>

  <div class="features-border">
    <div class="features-text-block">
      <h3 class="gradient-subtitle">
        Match, Style, and Shine – A Makeover Like Never Before!
      </h3>
      <p class="features-text">
        Play through exciting match-3 levels and transform characters with
        stunning makeovers!
      </p>
    </div>
  </div>

  <ul class="features-list">
    <li class="feature-item f-yellow">
      <p class="feature">
        <span class="feature-bold">Hundreds of Fabulous Levels –</span> "Match
        colors, clear tiles, and unlock beauty products!"
      </p>
    </li>
    <li class="feature-item f-green">
      <p class="feature">
        <span class="feature-bold">Power-Ups & Boosters –</span> "Use Lipstick
        Bombs, Nail Polish Swipes, and Sparkle Cleansers to clear levels!"
      </p>
    </li>
    <li class="feature-item f-purple">
      <p class="feature">
        <span class="feature-bold">Creative Makeover Challenges –</span>
        "Transform clients into beauty icons with your styling skills!"
      </p>
    </li>

    <li>
      <picture>
        <source
          srcset="
            /images/features/desktop/phone.png    1x,
            /images/features/desktop/phone@2x.png 2x
          "
          media="(min-width: 1200px)"
          width="306"
          height="535"
        />
        <source
          srcset="
            /images/features/mobile/phone.png    1x,
            /images/features/mobile/phone@2x.png 2x
          "
          media="(min-width: 320px)"
          width="165"
          height="291"
        />
        <img src="../images/features/mobile/phone.png" alt="phone with game" />
      </picture>
    </li>
    <li class="feature-item f-pink">
      <p class="feature">
        <span class="feature-bold">Fashion Competitions & Leaderboards –</span>
        "Compete in weekly challenges for exclusive rewards!"
      </p>
    </li>

    <li class="feature-item f-blue">
      <p class="feature">
        <span class="feature-bold">Diverse Characters & Stories –</span> "From
        influencers to brides, each character has a unique glow-up journey!"
      </p>
    </li>
  </ul>
</section>
