<section class="gallery container" id="gallery">
  <h2 class="gallery-title">Gallery</h2>
  <div class="gallery-text-block">
    <h3 class="gallery-subtitle">Picture-Perfect Transformations!</h3>
    <p class="gallery-text">
      Glamorous, trendy, and beautifully designed—just like your makeovers!
    </p>
  </div>

  <div class="gallery-sw-container">
    <div class="gallery-swiper swiper">
      <div class="swiper-wrapper gallery-sw-wr">
        <div class="swiper-slide gallery-swiper-slide">
          <img
            srcset="/images/gallery/01.jpg 1x, /images/gallery/01@2x.jpg 2x"
            alt="gallery-item"
            class="gallery-img"
          />
        </div>
        <div class="swiper-slide gallery-swiper-slide">
          <img
            srcset="/images/gallery/02.jpg 1x, /images/gallery/02@2x.jpg 2x"
            alt="gallery-item"
            class="gallery-img"
          />
        </div>
        <div class="swiper-slide gallery-swiper-slide">
          <img
            srcset="/images/gallery/03.jpg 1x, /images/gallery/03@2x.jpg 2x"
            alt="gallery-item"
            class="gallery-img"
          />
        </div>
      </div>
    </div>
    <button type="button" class="swiper-btn-prev btn-prev"></button>
    <button type="button" class="swiper-btn-next btn-next"></button>
  </div>
</section>
