<header class="header">
  <div class="header__container">
    <div class="header__wrapper">
      <div class="header__content">
        <a href="#home" class="header__logo" aria-label="Home">
          <picture>
            <source
              srcset="
                /images/header/mobile/logo.png    1x,
                /images/header/mobile/logo@2x.png 2x
              "
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                /images/header/desktop/logo.png    1x,
                /images/header/desktop/logo@2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="/images/header/desktop/logo.png"
              alt="Site Logo"
              width="55"
              height="55"
            />
          </picture>
        </a>

        <!-- Center: Navigation links -->
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a href="#how-it-all-started">How It All Started</a>
            </li>
            <li class="header__nav-item">
              <a href="#features">Features</a>
            </li>
            <li class="header__nav-item">
              <a href="#fashion-and-beauty">Fashion &amp; Beauty</a>
            </li>
            <li class="header__nav-item">
              <a href="#gallery">Gallery</a>
            </li>
            <li class="header__nav-item">
              <a href="#reviews">Reviews</a>
            </li>
          </ul>
        </nav>

        <!-- Right: Download button -->
        <a
          href="https://play.google.com/store/apps/details?id=makeover.project.makeup.salon.match.three.tile.puzzle&hl=en&gl=us"
          class="header__btn-download"
          noopener
          noreferrer
          target="_blank"
          >Download</a
        >

        <!-- Burger mobile menu -->
        <button class="header__mobile-menu" aria-label="Toggle mobile menu">
          <svg class="header__mobile-menu-icon" aria-hidden="true">
            <use href="/images/sprite.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
