<section id="home" class="home container">
  <div class="home__title-wrapper">
    <h1 class="home__title">
      Makeover Magic – Where Every Puzzle Unlocks a Stunning Transformation!
    </h1>
  </div>

  <p class="home__text">
    Match tiles, unlock beauty tools, and create jaw-dropping makeovers!
  </p>

  <div class="home__btn-wrapper">
    <a
      href="https://play.google.com/store/apps/details?id=makeover.project.makeup.salon.match.three.tile.puzzle&hl=en&gl=us"
      class="home__btn-download"
      rel="noopener noreferrer"
      target="_blank"
      alt="Google Play Store Download Link"
    >
      <img
        src="/images/btn-google/logo.png"
        srcset="
          /images/btn-google/logo.png    1x,
          /images/btn-google/logo@2x.png 2x
        "
        alt="Play Icon"
        class="home__btn-download-icon"
      />
      <div class="home__btn-download-text-wrapper">
        <img
          src="/images/btn-google/text-2.png"
          srcset="
            /images/btn-google/text-2.png    1x,
            /images/btn-google/text-2@2x.png 2x
          "
          alt="Google Play"
          class="home__btn-download-label"
        />
        <img
          src="/images/btn-google/text-1.png"
          srcset="
            /images/btn-google/text-1.png    1x,
            /images/btn-google/text-1@2x.png 2x
          "
          alt="Google Play Store"
          class="home__btn-download-brand"
        />
      </div>
    </a>
  </div>
</section>
