<section id="home" class="home container">
  <div class="home-title-wr">
    <h1 class="home-title">
      Makeover Magic – Where Every Puzzle Unlocks a Stunning Transformation!
    </h1>
    <p class="home-text">
      Match tiles, unlock beauty tools, and create jaw-dropping makeovers!
    </p>
    <div class="home-btn-wrapper">
      <a
        href="https://play.google.com/store/apps/details?id=makeover.project.makeup.salon.match.three.tile.puzzle&hl=en&gl=us"
        class="home-btn-download"
        rel="noopener noreferrer"
      >
        <svg class="home-btn-download-icon">
          <use href="../images/sprite.svg#icon-play"></use>
        </svg>
        <div class="home-btn-download-text">
          <svg class="google-label">
            <use href="../images/sprite.svg#google-label"></use>
          </svg>
          <svg class="google-brand">
            <use href="../images/sprite.svg#google-brand"></use>
          </svg>
        </div>
      </a>
    </div>
  </div>
</section>
