<section id="home" class="home container">
  <div class="container">
    <div class="home-title-wr">
      <h1 class="home-title">
        Makeover Magic – Where Every Puzzle Unlocks a Stunning Transformation!
      </h1>
      <p class="home-text">
        Match tiles, unlock beauty tools, and create jaw-dropping makeovers!
      </p>
      <a
        href="https://play.google.com/store/apps/details?id=makeover.project.makeup.salon.match.three.tile.puzzle&hl=en&gl=us"
        class="home-btn-download"
        noopener
        noreferrer
      >
        <svg class="home-icon">
          <use href="../images/sprite.svg#icon-play"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
