<section id="how-it-all-started" class="container how-it-all-started">
  <h2 class="how-it-all-started-title">How It All Started</h2>

  <div class="how-it-started-wr">
    <picture>
      <source
        srcset="
          /images/how-it-started/desktop/cup.jpg    1x,
          /images/how-it-started/desktop/cup@2x.jpg 2x
        "
        media="(min-width: 1200px)"
        width="372"
        height="496"
      />
      <source
        srcset="
          /images/how-it-started/mobile/cup.jpg    1x,
          /images/how-it-started/mobile/cup@2x.jpg 2x
        "
        media="(min-width: 320px)"
        width="186"
        height="248"
      />
      <img
        src="/images/how-it-started/mobile/cup.jpg"
        alt="cosmetics and coffee"
        class="how-it-started-img"
      />
    </picture>

    <div class="how-it-all-started-text-wr">
      <h3 class="how-it-all-started-subtitle">
        The Best Ideas Start with a Happy Accident!
      </h3>
      <p class="how-it-all-started-text-big">
        What happens when creativity meets a little chaos?
      </p>
      <p class="how-it-all-started-text">
        It started with a simple coffee spill. Our lead designer was flipping
        through a makeup catalog when—oops!—a cup of coffee splashed across the
        pages, blending colors in a way that looked... stunning! That’s when we
        thought: ‘What if we could create a game that turns beauty and color
        into a fun, engaging puzzle?’
      </p>
    </div>
  </div>
</section>
