<div class="mobile-menu__backdrop" aria-hidden="true">
  <nav class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu__wrapper">
      <button class="mobile-menu__close" aria-label="Close mobile menu">
        <svg class="mobile-menu__close-icon" aria-hidden="true">
          <use href="/images/sprite.svg#icon-cancel"></use>
        </svg>
      </button>

      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#how-it-all-started">
            How It All Started
          </a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#features"> Features </a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#fashion-and-beauty">
            Fashion &amp; Beauty
          </a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#gallery"> Gallery </a>
        </li>
        <li class="mobile-menu__item">
          <a class="mobile-menu__link" href="#reviews"> Reviews </a>
        </li>
      </ul>

      <a
        class="mobile-menu__download-btn"
        href="https://play.google.com/store/apps/details?id=makeover.project.makeup.salon.match.three.tile.puzzle&hl=en&gl=us"
        rel="noopener noreferrer"
        target="_blank"
      >
        Download
      </a>
    </div>
  </nav>
</div>
