<!-- Example of mobile menu -->
<!-- <nav id="mobile-menu" class="mobile-menu" aria-hidden="true">
  <button class="mobile-menu-close" aria-label="Close mobile menu">
    <svg class="icon icon-cancel" aria-hidden="true">
      <use href="../images/sprite.svg#icon-cancel"></use>
    </svg>
  </button>

  <ul class="mobile-nav-list">
    <li class="mobile-nav-item">
      <a href="#how-it-started">How It All Started</a>
    </li>
    <li class="mobile-nav-item">
      <a href="#features">Features</a>
    </li>
    <li class="mobile-nav-item">
      <a href="#fashion-and-beauty">Fashion &amp; Beauty</a>
    </li>
    <li class="mobile-nav-item">
      <a href="#gallery">Gallery</a>
    </li>
    <li class="mobile-nav-item">
      <a href="#reviews">Reviews</a>
    </li>
  </ul>

  <a href="#download" class="btn-download">Download</a>
</nav> -->
