<section id="reviews" class="reviews">
  <div class="container reviews__wr">
    <div class="container">
      <h2 class="reviews__title">Reviews & Community Engagement</h2>
      <div class="reviews__text-block">
        <div class="reviews__text-block-wr">
          <h3 class="reviews__text-block-subtitle">
            Join Thousands of Beauty Enthusiasts!
          </h3>
          <p class="reviews__text-block-text">
            Don’t just take our word for it—see what players love about Makeover
            Magic!
          </p>
        </div>
      </div>
    </div>
    <div class="reviews__swiper swiper">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="reviews__card container">
            <div class="reviews__card-img-wr">
              <img
                src="/images/reviews/profiles/per-1.jpg"
                srcset="
                  /images/reviews/profiles/per-1.jpg    1x,
                  /images/reviews/profiles/per-1@2x.jpg 2x
                "
                alt="Picture of a player"
                class="reviews__card-img"
              />
            </div>
            <div class="reviews__card-review-wr">
              <div class="reviews__card-review-imgs">
                <img
                  src="/images/reviews/quotation.png"
                  srcset="
                    /images/reviews/quotation.png    1x,
                    /images/reviews/quotation@2x.png 2x
                  "
                  alt="Decorative quotes"
                  class="reviews__card-review-img-quote"
                />
                <ul class="reviews__card-review-stars-list">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
              <p class="reviews__card-review-text">
                This game is absolutely addictive! The match-3 puzzles are fun,
                and the transformations are stunning!
              </p>
              <div class="reviews__card-review-user-wr">
                <span class="reviews__card-review-user-name">Sophie</span>
                <span class="reviews__card-review-user-age">27</span>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
