<section id="reviews" class="reviews">
  <div class="container reviews__wr">
    <h2 class="reviews__title">Reviews & Community Engagement</h2>
    <div class="reviews__text-block">
      <div class="reviews__text-block-wr">
        <h3 class="reviews__text-block-subtitle">
          Join Thousands of Beauty Enthusiasts!
        </h3>
        <p class="reviews__text-block-text">
          Don’t just take our word for it—see what players love about Makeover
          Magic!
        </p>
      </div>
    </div>
    <div class="reviews__swiper swiper">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"></div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
