.overlay {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  transform: translateY(100%);
  visibility: hidden;
  transition: transform 0.4s linear;

  &.shown {
    transform: translateY(0);
    visibility: visible;
  }
}

.cookies-modal {
  width: 320px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 12px 12px 0 0;

  @include background($bg-wavy-1x, top right);

  @media screen and (min-resolution: 192pdi) {
    @include background($bg-wavy-2x, top right);
  }

  @include media(desktop) {
    width: 1200px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 16px 16px 0 0;
  }

  .cookies-modal-title {
    font-family: $second-f;
    @include font($fz20, $regular, 1.2);
    margin-bottom: 12px;

    @include media(desktop) {
      @include font($fz32, $regular);
      margin-bottom: 19px;
    }
  }

  .cookies-text {
    max-width: 191px;
    margin: 0 auto;
    @include font($fz12);
    margin-bottom: 28px;

    @include media(desktop) {
      max-width: 716px;
      @include font($fz20);
      margin-bottom: 40px;
    }
  }

  .cookies-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media(desktop) {
      flex-direction: row;
    }

    .accept-btn,
    .decline-btn {
      width: 160px;
      padding: 10px;
      border: none;
      border-radius: 16px;

      color: inherit;
      @include font(14px, $medium);

      @include media(desktop) {
        width: 178px;
        @include font($fz16, $medium);

        transition: background 0.3s ease;
      }
    }

    .accept-btn {
      background: $btn-bg;
      margin-bottom: 16px;

      @include media(desktop) {
        margin-bottom: 0;
        margin-right: 40px;

        &:hover,
        &:focus {
          background: $btn-bg-hover;
        }
        &:active {
          background: $btn-bg-active;
        }
      }
    }

    .decline-btn-wr {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: -1.8px;
        right: -1.3px;
        left: -1.3px;
        bottom: -1.3px;
        border-radius: 18px;
        background-image: $header-burger-icon;
      }

      .decline-btn {
        background: linear-gradient(180deg, #f3e1ff 50%, #eaccff 100%);
        position: relative;
        z-index: 1;

        @include media(desktop) {
          &:hover,
          &:focus {
            background: linear-gradient(180deg, #f9e9ff 50%, #f0ceff 100%);
          }
          &:active {
            background: linear-gradient(180deg, #debdf6 50%, #d5a0f2 100%);
          }
        }
      }
    }
  }
}
