.features {
  padding-top: $section-paddings-mob;
  padding-bottom: $section-paddings-mob;
  @include background($bg-print-1x, center);
  @media screen and (min-resolution: 192pdi) {
    @include background($bg-print-2x, center);
  }

  @include media(desktop) {
    padding-top: $section-paddings-des;
    padding-bottom: $section-paddings-des;
  }

  .gradient-title {
    @include font($fz24);
    margin-bottom: $mg20;

    @include media(desktop) {
      @include font(36px);
      margin-bottom: 56px;
    }
  }

  .features-border {
    max-width: 280px;
    margin: 0 auto;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: 5px;
      background-image: $header-burger-icon;
    }

    @include media(desktop) {
      max-width: 896px;

      &::after {
        border-radius: 20px;
      }
    }

    .features-text-block {
      padding: 20px 24px;
      margin: 0 auto;
      border-radius: 5px;
      margin-bottom: $mg20;

      position: relative;
      z-index: 1;

      @include background($bg-wavy-1x, center, 170%);
      @media screen and (min-resolution: 192dpi) {
        @include background($bg-wavy-2x, center, 170%);
      }

      @include media(desktop) {
        padding: 40px 136px;
        border-radius: 20px;
        margin-bottom: 27px;

        @include background($bg-wavy-1x, bottom 82% right 65%, 101%);
        @media screen and (min-resolution: 192dpi) {
          @include background($bg-wavy-2x, top right);
        }
      }

      .gradient-subtitle {
        @include font($fz20, $regular, 1.2);
        margin-bottom: $mg12;

        @include media(desktop) {
          @include font($fz32);
          margin-bottom: $mg24;
        }
      }

      .features-text {
        @include font($fz16, $regular, 1.38);

        @include media(desktop) {
          @include font($fz24);
        }
      }
    }
  }

  .features-list {
    .feature-item {
      max-width: 132px;
      padding-top: 20px;

      @include media(desktop) {
        max-width: 270px;
        padding-top: 47px;
      }

      .feature {
        .feature-bold {
          font-weight: $bold;
        }
      }
    }

    .f-yellow {
      @include background(
        '../images/features/mobile/crystal-01.png',
        top center,
        20px 16px
      );

      @media screen and (min-resolution: 192dpi) {
        @include background(
          '../images/features/mobile/crystal-01@2x.png',
          top center,
          20px 16px
        );
      }

      @include media(desktop) {
        max-width: 250px;

        @include background(
          '../images/features/desktop/crystal-01.png',
          top center,
          40px 35px
        );

        @media screen and (min-resolution: 192dpi) {
          @include background(
            '../images/features/desktop/crystal-01@2x.png',
            top center,
            40px 35px
          );
        }
      }
    }

    .f-green {
      @include background(
        '../images/features/mobile/crystal-03.png',
        top center,
        20px 16px
      );

      @media screen and (min-resolution: 192dpi) {
        @include background(
          '../images/features/mobile/crystal-03@2x.png',
          top center,
          20px 16px
        );
      }

      @include media(desktop) {
        @include background(
          '../images/features/desktop/crystal-03.png',
          top center,
          40px 35px
        );

        @media screen and (min-resolution: 192dpi) {
          @include background(
            '../images/features/desktop/crystal-03@2x.png',
            top center,
            40px 35px
          );
        }
      }
    }

    .f-purple {
      @include background(
        '../images/features/mobile/crystal-02.png',
        top center,
        20px 16px
      );

      @media screen and (min-resolution: 192dpi) {
        @include background(
          '../images/features/mobile/crystal-02@2x.png',
          top center,
          20px 16px
        );
      }

      @include media(desktop) {
        @include background(
          '../images/features/desktop/crystal-02.png',
          top center,
          40px 35px
        );

        @media screen and (min-resolution: 192dpi) {
          @include background(
            '../images/features/desktop/crystal-02@2x.png',
            top center,
            40px 35px
          );
        }
      }
    }

    .f-pink {
      @include background(
        '../images/features/mobile/crystal-05.png',
        top center,
        20px 16px
      );

      @media screen and (min-resolution: 192dpi) {
        @include background(
          '../images/features/mobile/crystal-05@2x.png',
          top center,
          20px 16px
        );
      }

      @include media(desktop) {
        max-width: 330px;

        @include background(
          '../images/features/desktop/crystal-05.png',
          top center,
          40px 35px
        );

        @media screen and (min-resolution: 192dpi) {
          @include background(
            '../images/features/desktop/crystal-05@2x.png',
            top center,
            40px 35px
          );
        }
      }
    }

    .f-blue {
      @include background(
        '../images/features/mobile/crystal-04.png',
        top center,
        20px 16px
      );

      @media screen and (min-resolution: 192dpi) {
        @include background(
          '../images/features/mobile/crystal-04@2x.png',
          top center,
          20px 16px
        );
      }

      @include media(desktop) {
        @include background(
          '../images/features/desktop/crystal-04.png',
          top center,
          40px 35px
        );

        @media screen and (min-resolution: 192dpi) {
          @include background(
            '../images/features/desktop/crystal-04@2x.png',
            top center,
            40px 35px
          );
        }
      }
    }
  }
}
