.footer {
  padding-top: 26px;
  padding-bottom: 44px;

  @include background($bg-print-1x, center);
  @media screen and (min-resolution: 192dpi) {
    @include background($bg-print-2x, center);
  }

  @include media(desktop) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer-logo {
    width: fit-content;
    display: block;
    margin: 0 auto 20px;
    transition: transform 0.3s ease-in-out;

    @include media(desktop) {
      margin-bottom: 32px;
      &:hover,
      &:focus {
        transform: scale(1.03);
      }
    }
  }

  .pages-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 3px;
    margin-bottom: 27px;

    @include font(14px);

    @include media(desktop) {
      @include font(20px);
    }

    &-item {
      transition: transform 0.3s ease-in-out;
      &:hover,
      &:focus,
      &:active {
        // transform: scale(1.03);
        @include gradient-text(
          linear-gradient(90deg, #592193 0%, #bb2fd0 50%, #592193 100%)
        );
      }
    }
  }

  .copyright-text {
    color: $light-color;
    max-width: 220px;
    margin: 0 auto;

    @include media(desktop) {
      max-width: 429px;
    }
  }
}
