.header {
  position: fixed;
  width: 100%;
  top: 11px;
  left: 0;
  z-index: 100;

  @include media(desktop) {
    top: 20px;
  }

  &__container {
    max-width: $mobile;
    margin: 0 auto;
    padding: 0 20px;

    @include media(desktop) {
      max-width: $desktop;
      padding: 0 56px;
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    background-color: $header-bg;
    border-radius: 16px;

    @include media(desktop) {
      padding: 4px 32px;
      border-radius: 32px;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100.5%;
      height: 104%;
      border-radius: 16px;
      background-image: $header-border;
      z-index: -1;

      @include media(desktop) {
        border-radius: 32px;
        width: 100.4%;
        height: 106%;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: $mobile;

    @include media(desktop) {
      max-width: none;
    }
  }

  &__logo {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 8.44px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      transform: scale(1.03);
    }

    @include media(desktop) {
      width: 69px;
      height: 69px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__nav {
    text-align: center;
  }

  &__nav-list {
    display: none;
    display: flex;
    gap: $mg24;
  }

  &__nav-item {
    text-align: center;

    &-text {
      display: inline-block;
      transition: transform 0.2s ease;

      &:hover,
      &:focus,
      &:active {
        transform: scale(1.04);
        @include gradient-text(
          linear-gradient(90deg, #592193 0%, #bb2fd0 50%, #592193 100%)
        );
      }

      @include media(desktop) {
        color: $main-color;
        font-family: $first-f;
        @include font($fz16, $regular, 1.5, center);
      }
    }
  }

  &__btn-download {
    display: none;

    @include media(desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      padding: $btn-paddings;
      color: $main-color;
      @include font($fz16, $bold, 1.2, center);
      background: $btn-bg;
      cursor: pointer;
      transition: background 0.3s ease;

      &:hover {
        background: $btn-bg-hover;
      }

      &:active {
        background: $btn-bg-active;
      }
    }
  }

  &__mobile-menu {
    width: 39px;
    height: 39px;
    display: flex;
    background: transparent;
    border: none;
    align-items: center;
    padding: 0;
    cursor: pointer;

    @include background('../images/header/mobile/bars.png', center);
    @media screen and (min-resolution: 192dpi) {
      @include background('../images/header/mobile/bars@2x.png', center);
    }

    @include media(desktop) {
      display: none;
    }
  }
}
