.home {
  padding-top: 106px;
  padding-bottom: $section-paddings-mob;
  @include background($bg-print-1x, center);

  @media screen and (min-resolution: 192dpi) {
    @include background($bg-print-2x, center);
  }

  @include media(desktop) {
    padding-top: 289px;
    padding-bottom: $section-paddings-des;
  }
}

.home-title {
  margin-bottom: 16px;
  font-family: $second-f;
  @include font($fz32, $regular, 1.16, center);
  color: transparent;
  background: linear-gradient(90deg, #4c1c7d 0%, #832192 50%, #4c1c7d 100%);
  background-clip: text;
}

.home-text {
  margin-bottom: 16px;
  @include font($fz16, $regular, 1.2, center);
  color: $main-color;
}

.home-btn-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto 20px;

  &::after {
    content: '';
    position: absolute;
    width: 101.5%;
    height: 104%;
    border-radius: 4px;
    background-image: $google-btn-bg-border;
  }
}

.home-btn-download {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 11px;
  border-radius: 4px;
  width: fit-content;
  background-image: $google-btn-bg;
  cursor: pointer;
  z-index: 1;
  transition: background 0.3s ease;

  &:hover {
    background-image: $google-btn-bg-hover;
  }

  &:active {
    background-image: $google-btn-bg-active;
  }

  &-icon {
    width: 25px;
    height: 29px;
    margin-bottom: 2px;
    margin-right: 9px;
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-self: start;
  }

  .google-label {
    width: 43px;
    height: 7px;
    margin-bottom: 4.5px;
  }

  .google-brand {
    width: 94px;
    height: 19px;
  }
}
