.reviews {
  &__wr {
    padding-top: $section-paddings-mob;
    padding-bottom: $section-paddings-mob;

    @include background($bg-print-1x, center);
    @media screen and (min-resolution: 192dpi) {
      @include background($bg-print-2x, center);
    }
  }

  &__title {
    font-family: $second-f;
    @include gradient-text($g-title);
    @include font($fz24, normal, 1.3, center);
    margin-bottom: $mg20;
  }

  &__text-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    margin-bottom: $mg20;
    border-radius: 5px;

    &::after {
      content: '';
      position: absolute;
      width: 100.7%;
      height: 101%;

      z-index: -1;
      border-radius: 5.5px;
      background-image: linear-gradient(
        90deg,
        #592193 0%,
        #bb2fd0 50%,
        #592193 100%
      );
    }

    &-wr {
      padding: 20px 24px;
      border-radius: 5px;
      @include background($bg-wavy-1x, center, 170%);
      @media screen and (min-resolution: 192dpi) {
        @include background($bg-wavy-2x, center, 170%);
      }

      @include media(desktop) {
        @include background($bg-wavy-1x, bottom 82% right 65%, 101%);
        @media screen and (min-resolution: 192dpi) {
          @include background($bg-wavy-2x, top right);
        }
      }
    }

    &-subtitle {
      margin-bottom: $mg12;
      font-family: $second-f;
      @include gradient-text($g-subtitle);
      @include font($fz20, $regular, 1.2);
    }

    &-text {
      font-family: $first-f;
      color: $main-color;
      @include font($fz16, $regular, 1.38);
    }
  }
  &__swiper {
  }
}
