.reviews {
  &__wr {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: $section-paddings-mob;
    padding-bottom: $section-paddings-mob;
    @include background($bg-print-1x, center);
    @media screen and (min-resolution: 192dpi) {
      @include background($bg-print-2x, center);
    }

    @include media(desktop) {
      padding-top: $section-paddings-des;
      padding-bottom: $section-paddings-des;
    }
  }

  &__title {
    font-family: $second-f;
    @include gradient-text($g-title);
    @include font($fz24, normal, 1.3, center);
    margin-bottom: $mg20;

    @include media(desktop) {
      @include font(36px, normal, 1.3, center);
      margin-bottom: 56px;
    }
  }

  &__text-block {
    margin-bottom: $mg20;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include media(desktop) {
      margin-bottom: 0px;
      border-radius: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      width: 100.7%;
      height: 101%;
      border-radius: 6px;
      background-image: linear-gradient(
        90deg,
        #592193 0%,
        #bb2fd0 50%,
        #592193 100%
      );

      @include media(desktop) {
        width: 82.5%;
        height: 101.2%;
        border-radius: 22px;
      }
    }

    &-wr {
      padding: 20px 24px;
      border-radius: 5px;
      @include background($bg-wavy-1x, center, 170%);
      @media screen and (min-resolution: 192dpi) {
        @include background($bg-wavy-2x, center, 170%);
      }

      @include media(desktop) {
        padding: 45px 135px;
        border-radius: 20px;
        @include background($bg-wavy-1x, bottom 72% right 56%, 142%);
        @media screen and (min-resolution: 192dpi) {
          @include background($bg-wavy-2x, bottom 72% right 56%, 142%);
        }
      }
    }

    &-subtitle {
      margin-bottom: $mg12;
      font-family: $second-f;
      @include gradient-text($g-subtitle);
      @include font($fz20, $regular, 1.2);

      @include media(desktop) {
        margin-bottom: 24px;
        @include font(32px, $regular, 1.3);
      }
    }

    &-text {
      font-family: $first-f;
      color: $main-color;
      @include font($fz16, $regular, 1.38);

      @include media(desktop) {
        width: 625px;
        @include font(24px, $regular, 1.2);
      }
    }
  }

  &__card {
    margin-bottom: 16px;

    @include media(desktop) {
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 0px 149px;
      display: flex;
    }

    &-img-wr {
      margin-bottom: 8px;

      @include media(desktop) {
        flex-shrink: 0;
        margin-bottom: 0px;
        margin-right: 25px;
      }
    }

    &-img {
      border-radius: 5px;
      margin: 0 auto;
      width: 186px;
      height: 197px;

      @include media(desktop) {
        border-radius: 20px;
        margin: 0;
        width: 254px;
        height: 280px;
      }
    }

    &-review-wr {
      padding: 20px;
      border-radius: 4.96px;
      background: $pink;

      @include media(desktop) {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        padding: 46px 64px 46px 64px;
        border-radius: 16px;
        width: 624px;
      }

      &::after {
        content: '';
        bottom: 152px;
        right: 9px;
        position: absolute;
        z-index: 100;
        width: 33px;
        height: 27px;
        @include background('../images/reviews/crystal.png', center);
        @media screen and (min-resolution: 192dpi) {
          @include background('../images/reviews/crystal@2x.png', center);
        }

        @include media(desktop) {
          width: 56px;
          height: 46px;
          bottom: 293px;
          right: 129px;
        }
      }
    }

    &-review-imgs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 6px;

      @include media(desktop) {
        margin-bottom: 20px;
      }
    }

    &-review-img-quote {
      width: 24px;
      height: 22px;

      @include media(desktop) {
        width: 42px;
        height: 36px;
      }
    }

    &-review-stars-list {
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        width: 16px;
        height: 16px;
        @include background($star, center, 35px 35px);
        @media screen and (min-resolution: 192dpi) {
          @include background($star-2x, center, 35px 35px);
        }

        @include media(desktop) {
          width: 24px;
          height: 24px;

          @include background($star, center, 220%);
          @media screen and (min-resolution: 192dpi) {
            @include background($star-2x, center, 220%);
          }
        }
      }
    }

    &-review-text {
      margin-bottom: 7px;
      font-family: $first-f;
      color: $main-color;
      @include font(14px, $regular, 1.42, start);

      @include media(desktop) {
        margin-bottom: 24px;
        @include font(20px, $regular, 1.2, start);
      }
    }

    &-review-user-wr {
      display: flex;
    }

    &-review-user-name {
      font-family: $first-f;
      color: $main-color;
      @include font(12px, $regular, 1.2);

      @include media(desktop) {
        @include font(16px, $regular, 1.2);
      }

      &::after {
        content: ',';
        margin-right: 4px;

        @include media(desktop) {
          @include font(16px, $regular, 1.2);
        }
      }
    }

    &-review-user-age {
      font-family: $first-f;
      color: $main-color;
      @include font(12px, $regular, 1.2);

      @include media(desktop) {
        @include font(16px, $regular, 1.2);
      }
    }
  }

  .swiper {
    &-button-prev,
    &-button-next {
      width: 36px;
      height: 36px;

      &::after {
        content: none;
      }

      @media screen and (max-width: 1199px) {
        display: none;
      }
    }

    &-button-prev {
      left: 90px;
      background-size: cover;
      @include background('../images/arrows/arrowLeft.png', center);

      @media screen and (min-resolution: 192dpi) {
        @include background('../images/arrows/arrowLeft@2x.png', center);
      }
    }

    &-button-next {
      right: 90px;
      background-size: cover;
      @include background('../images/arrows/arrowRight.png', center);

      @media screen and (min-resolution: 192dpi) {
        @include background('../images/arrows/arrowRight@2x.png', center);
      }
    }

    &-pagination {
      position: static;
      display: flex;
      justify-content: center;
      gap: 8px;

      &-bullet {
        width: 24px;
        height: 6px;
        border-radius: 999px;
        background: $pink;
        transition: all 0.3s ease;
        opacity: 1;

        &-active {
          width: 36px;
          background: none;
          background-color: none;
          background-image: linear-gradient(
            90deg,
            #592193 0%,
            #bb2fd0 50%,
            #592193 100%
          );
          &:focus {
            background-image: linear-gradient(
              90deg,
              #592193 0%,
              #bb2fd0 50%,
              #592193 100%
            );
          }
        }
      }
    }
  }
}
