@import './header.scss';
@import './mobile-menu.scss';

@import './home.scss';
@import './how-it-started.scss';
@import './features.scss';
@import './fashion-and-beauty.scss';
@import './gallery.scss';
@import './reviews.scss';
@import './download.scss';

@import './privacy-policy.scss';
@import './terms-conditions.scss';
@import './cookies-policy.scss';

@import './footer.scss';
@import './cookies.scss';

:root {
  font-family: $font-family;
  font-size: $font-size-main-12;
  font-weight: $regular;
  color: $main-color;

  @include media(desktop) {
    font-size: $font-size-main-16;
  }
}

.container {
  min-width: $mobile;
  margin: 0 auto;
  padding: 0 20px;

  @include media(desktop) {
    max-width: $desktop;
    padding: 0 56px;
  }
}
